<%- include("partials/header") %>
<p><%= campground.name %></p>

<img src="<%= campground.image %>" class="img-fluid" style="width: 300px; height: 200px;">

<p><%= campground.description %></p>
<% campground.comments.forEach((comment)=> { %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>
<%- include("partials/footer") %>