<%- include("partials/header") %>
<p><%= campground.name %></p>

<img src="<%= campground.image %>" class="img-fluid" style="width: 300px; height: 200px;">

<p><%= campground.description %></p>
<%- include("partials/footer") %>